.admin-side-wrapper {
  width: 250px;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.admin-side-title {
  letter-spacing: 1px;
}

.admin-side-nav-item .hover-bg-light:hover {
  background-color: #f1f5ff;
  color: #0d6efd !important;
}

.admin-side-link svg {
  flex-shrink: 0;
}
